<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
<div class="container">

    <div class="render_infor">
    </div>

    <button class="my_button" value="red">red</button>
    <button class="my_button" value="blue">blue</button>
    <button class="my_button" value="orange">orange</button>
    <button class="my_button" value="purple">purple</button>
</div>


</body>
<script src="{{ url_for('static',filename='js/index.js') }}"></script>
</html>
